/* ==================================================
          Base Colors for the whole project
 ==================================================*/
/* main color palette */
$hotPink: #f6019d;
$lightPurple: #261447;
$darkPurple: #0d0221;
$lightBlue: #2de2e6;
$offWhite: #efefef;


/* additional colors */
