body, body * { box-sizing: border-box; }
body { background-color: $lightPurple; }
$defaultPadding: 15px 30px;

/* add the sun bg */
main {
  margin-top: 30px;
}

/* fuck default button styles */
button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.h-border {
  &__left {
    border-left: 1px solid;
    &--pink { border-color: $hotPink; }
    &--blue { border-color: $lightBlue; }
  }
}
