$odibee: 'Rajdhani', sans-serif;
$saira: 'Saira Semi Condensed', sans-serif;

h1, h2, h3 {
  font-family: $odibee;
  color: $hotPink;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $hotPink;
  }
}

p, li, button, a {
  font-family: $saira;
}

